<div class="test-padding" ></div>

<% form_tag %>
  <div>
    <h4>コメント</h4>
    <div id="comments_area">
      <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/index', locals: { comments: @comments } %>
    </div>
    <% if logged_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
      <%= render partial: 'comments/form', locals: { comment: @comment, topic: @topic } %>
    <% end %>
  </div>