<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">
    <h1 class="text-white">日本全国踏破しよう！！</h1>
    <h3 class="text-white">皆さんは４７都道府県全て行ったことがありますか？
      <p>これは旅行の思い出を記録、シェアするサービスです。</p>
      <p>レッツ全国踏破！！</p></h3>
      <div class="row">
        <div class="offset-md-3 col-md-3">
          <%= link_to '新規登録', new_user_path, class: 'btn btn-block btn-index' %>
        </div>
        <div class="col-md-3">
          <%= link_to 'Log in', login_path, class: 'btn btn-block btn-index' %>
        </div>
      </div>
  </div>
</div>