h1,
h2 {
  font-weight: 100;
}
body {
  font-family: "arial unicode ms";
}

.text-white {
  color: rgb(255, 255, 255);
}
.fuchidori {
  -webkit-text-stroke: 1px #ff943c;
  // text-stroke: 1.5px#ff943c;
  text-shadow: -1px -2px 3px #808080;
}
.btn-index {
  position: relative;
  background-color: #f7d034;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #f7ba59;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  margin-right: 10px;
  margin-top: 5px;

  &:hover {
    background-color: #f7d034;
    box-shadow: 0 3px 0 #a18a23;
  }
}

.navbar-transparent {
  background-color: rgba(255, 206, 73, 0.753);
  a {
    color: #fff !important;
  }
  z-index: 10000;

  img {
    height: 30px;
    width: 40px;
    margin: 10px;
    &:hover {
      background-color: #f7d034;
    }
  }

  .navbar-text {
    font-weight: bolder;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin: auto;
  }
  .nav-btn {
    // display: block !important;
    position: relative;
    background-color: #ff943c;
    border-radius: 4px;
    color: #fff;
    line-height: 52px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #f7ba59;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin-right: 10px;
    &:hover {
      background-color: #f7d034;
      box-shadow: 0 3px 0 #a18a23;
    }
  }
}
.btn {
  display: initial;
  display: block !important;
}

.top-hero-wrapper {
  margin-top: 85px;
  width: 100vw;
  height: 90vh;
  background-image: url("japan-map2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgb(230, 102, 17);
}
.top {
  overflow-x: hidden;
}
.top-2 {
  width: 100%;
}
.top-hero-m-wrapper {
  padding-top: 290px;
}
.top-hero-l-wrapper {
  padding-top: 240px;
}
.top-hero-b-wrapper {
  padding: 160px 0;
  text-align: center;
}
.top-hero-container {
  padding-top: 100px;
  h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }
  h3 {
    margin-bottom: 60px;
  }
}
.form-control {
  height: 45px;
}

.form-text {
  height: 190px !important;
  margin-bottom: 40px;
}
.users-new-wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("rogin-back.png");
  background-size: 100% 100%;
  background-blend-mode: lighten;
  top: 0;
  .users-new-container {
    padding-top: 120px;
    .form-group {
      margin-bottom: 30px;
    }
  }
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 100000;
}

.btn-black {
  color: #565656;
  border: 1px solid #565656;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);

  &:hover {
    color: #565656;
  }
}
.topic-new-wrapper {
  padding-top: 100px;
}
.image-up {
  border: solid;
  width: 100%;
  border-color: gold;
  border-radius: 4px;
}
.topic-index-wrapper {
  padding-top: 90px;
  background-color: #fafafa;
  .topic-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    box-shadow: 0 0 8px gray;
    .topic-author {
      padding-right: 20px;
      padding-left: 25px;
    }
    .topic-text {
      padding-right: 20px;
      padding-left: 20px;
    }
    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
      height: 100%;
    }
    //いいねがない場合のハートアイコンの色
    .topic-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
    .topic-index-icon-2 {
      width: 35px;
      height: 30px;
    }
    //いいねがされた場合のハートアイコンの色
    .favorite-color {
      filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg)
        brightness(105%) contrast(102%);
    }
  }
}
.fukidashi {
  position: absolute; /* 親要素を基準 */
  display: none;
  z-index: 10; /* 要素を非表示 */
  // padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(255, 202, 87, 0.836); /* 背景色（透明度） */
  // width: 100%; /* 吹き出し全体の幅 */
  border-radius: 6px;
  top: -30px;
  left: 20px;
  font-size: 70%;
}
.fukidashi-icon {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.fukidashi-icon:hover .fukidashi {
  display: inline;
}
.fukidashi-edit {
  position: absolute; /* 親要素を基準 */
  display: none; /* 要素を非表示 */
  // padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(255, 202, 87, 0.836); /* 背景色（透明度） */
  width: 100%; /* 吹き出し全体の幅 */
  border-radius: 6px;
  top: -70px;
  left: 120px;
  font-size: 70%;
}
.fukidashi-icon-edit {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.fukidashi-icon-edit:hover .fukidashi-edit {
  display: inline;
}

.hoge {
  padding-top: 200px;
}
.mypage-hero-wrapper {
  padding-top: 130px;
}
.mypage-edit-hero-wrapper {
  display: inline-block;
  margin: 10px auto;
}
.mypage-edit {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  .edit-form {
    padding-top: 40px;
    font-size: 20px;
  }
}
.mypage-edit-link {
  text-align: center;
}
.mypage-status {
  border: solid;
  border-color: orange;
  color: orange;
  border-radius: 2px;
}
.edit-ps {
  position: relative;
  color: rgb(250, 106, 106);
  opacity: 0.8;
  margin-bottom: -20px;
  top: -60px;
  right: -26%;
  font-size: 0.8rem;
}
.mypage-edit:hover .mypage {
  display: inline; /* インライン要素として表示 */
}
.edit-profile-form-control {
  height: 100px;
  width: 90%;
  border-radius: 5px;
}
.mypage-text {
  background-color: #ffd77e;
  border-style: groove;
  margin-bottom: 10px;
  width: 90%;
  border-radius: 5px;
}
.mypage-contents {
  margin-bottom: 0;
}
.edit-form-control {
  height: 45px;
  width: 90%;
  border-radius: 5px;
}
.mypage {
  position: absolute; /* 親要素を基準 */
  display: none; /* 要素を非表示 */
  // padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(255, 202, 87, 0.836); /* 背景色（透明度） */
  width: 100px; /* 吹き出し全体の幅 */
  top: -25px;
  left: 0px;
  font-size: 80%;
}
.map-info {
  text-align: center;
  position: relative;
  margin: 1.5em 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: rgb(255, 255, 255);
  font-size: 16px;
  background: #ff943c;
  border-radius: 15px;
}

.map-info:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ff943c;
}

.map p {
  margin: 0;
  padding: 0;
}

.comments-new-wrapper {
  padding-top: 130px;
  background-color: #fafafa;
}
#comment_comment {
  width: -webkit-fill-available;
  border-radius: 4px;
}
.profile_photo {
  border-radius: 20px !important;
}
.profile_photo_mini {
  border-radius: 10px !important;
  width: 30px !important;
  height: 30px !important;
}

.site-header {
  padding: 10px;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 999;
}

.site-header.hide {
  transform: translateY(-100%);
}
.box {
  transform: translate(-250px, -150px);
  opacity: 0.2;
  transition: opacity 2.5s, transform 2.5s;
}
.box2 {
  transform: translate(250px, -150px);
  opacity: 0.2;
  transition: opacity 3s, transform 1.5s;
}
.fadein {
  opacity: 1;
  transform: translate(0, 0);
}

.topics-right {
  float: right;
}
.test-padding {
  padding-top: 190px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-auto {
  flex: auto;
  width: 50%;
}

.faq-list-item {
  margin: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
  cursor: pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 20px;
  justify-content: flex-start;
}

.faq-list-item span {
  position: absolute;
  top: 0;
  right: 5px;
  color: #ccc;
  font-size: 13px;
}

.answer {
  font-size: 20px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
  color: gray;
  // width: 80%;
}
.faq-popular {
  text-align: center;
  margin-bottom: 40px;
}
.topic-index-icon-top {
  width: 35px;
  height: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#page-top-btn {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 20px;
  bottom: 50px;
  background: #ffb14a;
  opacity: 0.6;
  border-radius: 50%;
  z-index: 999;
}
#page-top-btn a {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page-top-btn a::before {
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.prefecture-name {
  line-height: 0.5;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  /*　画面サイズが768pxから1200pxはここを読み込む　*/
  .usertext {
    display: none;
  }
}
#map {
  width: 90%;
}
@media screen and (max-width: 768px) {
  /*　画面サイズが768px以下はここを読み込む　*/
  .topics-right {
    float: none;
  }
  #map {
    display: none;
  }
  .map-info {
    display: none;
  }
}

.user-name {
  color: rgb(255, 251, 0);
}

.footer {
  background-color: rgba(255, 206, 73, 0.753);
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;
}

.balloon-right {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #fff;
  border: solid 3px #807e7e;
  box-sizing: border-box;
  border-radius: 5px;
}

.balloon-right:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #fff;
  z-index: 2;
}

.balloon-right:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #807e7e;
  z-index: 1;
}

.balloon-right p {
  margin: 0;
  padding: 0;
}
.chara {
  // padding-top: 140px;
  width: 100%;
  height: 100%;
}

.login-form {
  font-size: 28px;
  padding-bottom: 30px;
}
.bottom {
  padding-top: 50px;
  margin: 10px;
}
.season {
  // display: block;
  // text-align: center;
  font-size: 2rem;
  // padding-left: 20px;
}
.spring {
  font-size: 70px;
  color: deeppink;
  margin-left: 15px;
  margin-bottom: 0px;
}
.season1 {
  color: pink;
  padding-left: 20px;
}
.summer {
  font-size: 70px;
  color: green;
  margin-bottom: 0px;
  padding-left: 0px;
}
.season2 {
  color: lightgreen;
}
.fall {
  font-size: 70px;
  color: red;
  margin-left: 15px;
  margin-bottom: 0px;
}
.season3 {
  color: orangered;
  padding-left: 20px;
}
.winter {
  font-size: 70px;
  color: lightgray;
  margin-bottom: 0px;
}
.test-view {
  text-align: center;
  margin-top: 70px;
  font-size: 30px;
  background-color: #f9ea36;
  border-radius: 15%;
}
