h1, h2 {
  font-weight: 100;
}

.text-white {
  color: rgb(255, 255, 255);
}


.btn-index {
  position: relative;
  background-color: #f7d034;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #f7ba59;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
  margin-right: 10px;
  margin-top:5px;

  &:hover {
    background-color:  #f7d034;
    box-shadow: 0 3px 0 #a18a23;
  }
}


.navbar-transparent {

  background-color: rgba(255, 206, 73, 0.753);
  a {
    color: #fff !important;
  }
  z-index: 10000;



  img {
    height: 30px;
    width: 40px;
    margin: 10px;
    &:hover {
      background-color:  #f7d034;
    }
  }

  .navbar-text {
    color: red;
    margin: auto;
  }
  .nav-btn {
    position: relative;
    background-color: #ff943c;
    border-radius: 4px;
    color: #fff;
    line-height: 52px;
    -webkit-transition: none;
    transition: none;
    box-shadow: 0 3px 0 #f7ba59;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
    margin-right: 10px;
    &:hover {
      background-color:  #f7d034;
      box-shadow: 0 3px 0 #a18a23;
    }

  }
}

.top-hero-wrapper {
    margin-top: 82px;
    width: 100vw;
    height: 90vh;
    background-image: url('japan-map2.png');
    background-position: center;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-size: 100% 100%;
    background-color: rgb(230, 102, 17);
    // position: fixed;
    // position: absolute;
    // top: 0;
  }
  .top-2 {
    width: 50vw;
  }
  .top-hero-m-wrapper {
    padding-top: 290px;
  }
  .top-hero-l-wrapper {
    padding-top: 140px;
  }
  .top-hero-container {
    padding-top: 100px;
    h1 {
      font-size: 56px;
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 60px;
    }
  }
  .form-control {
    height: 45px;
  }
  .users-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('rogin-back.png');
    background-size: 100% 100%;
    background-blend-mode:lighten;
    position: absolute;
    top: 0;
    .users-new-container {
        padding-top: 120px;

        .form-group {
          margin-bottom: 30px;
        }
    }
  }
  .alert {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 100000;
  }

  .btn-black {
    color: #565656;
    border: 1px solid #565656;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);

    &:hover {
      color: #565656;
    }
  }
  .topic-new-wrapper {
    padding-top: 100px;
  }
  .topic-index-wrapper {
    padding-top: 70px;
    background-color: #fafafa;
    .topic-index-single {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 30px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;
      .topic-author {
        padding-right: 20px;
        padding-left: 20px;
      }
      .topic-text {
        padding-right: 20px;
        padding-left: 20px;
      }
      img {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
      }
      //いいねがない場合のハートアイコンの色
      .topic-index-icon {
        width: 35px;
        height: 30px;
        margin-left: 20px;
      }
      //いいねがされた場合のハートアイコンの色
      .favorite-color {
        filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);
      }
    }
  }
.fukidashi {
  position   : absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  // padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(255, 202, 87, 0.836);       /* 背景色（透明度） */
  // width:100%;                          /* 吹き出し全体の幅 */
  border-radius: 6px;
  top: -30px;
  left: 20px;
  font-size:70%;
}
.fukidashi-icon {
  position: relative;
  cursor: pointer;
  display: inline-block
}
.fukidashi-icon:hover .fukidashi {
  display: inline;
}
.fukidashi-edit {
  position   : absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  // padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(255, 202, 87, 0.836);       /* 背景色（透明度） */
  width:100%;                          /* 吹き出し全体の幅 */
  border-radius: 6px;
  top: -70px;
  left: 220px;
  font-size:70%;
}
.fukidashi-icon-edit {
  position: relative;
  cursor: pointer;
  display: inline-block
}
.fukidashi-icon-edit:hover .fukidashi-edit {
  display: inline;
}

.hoge {
  padding-top: 200px;

}
.mypage-edit-hero-wrapper {
  display: inline-block;
  margin: 10px auto;
}
.mypage-edit {
  position   : relative;                /* 指定した分だけ相対的に移動 */
  cursor: pointer;
  display: inline-block;
  background-color: rgba(255, 87, 87, 0.836);
}
.mypage-edit:hover .mypage {
  display: inline;                /* インライン要素として表示 */
}
.edit-profile-form-control {
  height: 100px;
  width: 450px;
  border-radius: 5px;
}
.mypage-text {
  background-color: rgb(255, 245, 158);
}
.edit-form-control {
  height: 45px;
  width: 450px;
  border-radius: 5px;
}
.mypage {
  position: absolute;                /* 親要素を基準 */
  display: none;                        /* 要素を非表示 */
  // padding: 2px;                         /* テキストの前後の余白 */
  background-color: rgba(255, 202, 87, 0.836);       /* 背景色（透明度） */
  width: 100px;                          /* 吹き出し全体の幅 */
  top: -25px;
  left: 0px;
  font-size: 80%;                       /* 文字サイズ */
}
.comments-new-wrapper {
  padding-top: 130px;
  background-color: #fafafa;
}
.mypage-edit-link {
  padding-top: 100px;
}
.test {
  padding-top: 100px;
  background-color: green;
  // display: block;
}
.profile_photo {
  border-radius: 20px;
}
// .profile-edit-btn {
// 	position: relative;
// 	display: block;
// 	width: 160px;
// 	padding: 0.8em;
// 	text-align: center;
// 	text-decoration: none;
// 	color: #fff;
// 	background: #EC407A;
// 	border:1px solid #fff;
// 	overflow: hidden;
//   &:before {
//     content:"";
//     position: absolute;
//     top: 0px;
//     left: -150px;
//     height: 100%;
//     width: 160px;
//     background : #fff;
//     opacity: 0.3;
//     transition: .4s;
//   }
//   &:hover:before {
//     left:0;
//   }
// }
input#profile-edit-btn {
	position: relative;
	display: block;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background: #EC407A;
	border:1px solid #fff;
	overflow: hidden;
}
input#profile-edit-btn:before {
	content:"";
	position: absolute;
	top: 0px;
	left: -150px;
	height: 100%;
	width: 160px;
	background : #fff;
	opacity: 0.3;
	transition: .4s;
}
input#profile-edit-btn:hover:before {
	left:0;
}
input[type="submit"]:hover {
  /* マウスが載ったとき */
  background-image: linear-gradient(0deg, #68d3db, #e5f4fc);
  border: 1px solid #2c628b;
}
// .profile-edit-btn {
// 	position: relative;
// 	display: block;
// 	width: 160px;
// 	padding: 0.8em;
// 	text-align: center;
// 	text-decoration: none;
// 	color: #fff;
// 	background: #EC407A;
// 	border:1px solid #fff;
// 	overflow: hidden;
// }
// .profile-edit-btn:before {
// 	content:"";
// 	position: absolute;
// 	top: 0px;
// 	left: -150px;
// 	height: 100%;
// 	width: 160px;
// 	background : #fff;
// 	opacity: 0.3;
// 	transition: .4s;
// }
// .profile-edit-btn:hover:before {
// 	left:0;
// }


.site-header{
  padding: 20px;
  position: fixed;
  top: 0;
  transition: .5s;
  width: 100%;
  z-index: 999;
}

.site-header.hide{
  transform: translateY(-100%);
}