h1, h2 {
  font-weight: 100;
}

.text-white {
  color: rgb(255, 255, 255);
}

.btn {
  position: relative;
  background-color: #f7d034;
  border-radius: 4px;
  color: #fff;
  line-height: 52px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #f7ba59;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);

  &:hover {
    background-color:  #f7d034;
    box-shadow: 0 3px 0 #a18a23;
  }
}
.navbar-transparent {

  background-color: rgba(22, 22, 22, 0.5);
  a {
    color: #fff !important;
  }
  z-index: 10000;
  
  .navbar-brand {
    padding: 5px;
    
  }
  .navbar-nav {
    margin: 10px;
    &:hover {
      background-color:  #f7d034;
      box-shadow: 0 3px 0 #a18a23;
    } 
  }

  img {
    height: 50px;
    margin: 5px;
    &:hover {
      background-color:  #f7d034;
      box-shadow: 0 3px 0 #a18a23;
    } 
  }
}

.top-hero-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('japan-map2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: rgb(230, 102, 17);
    position: fixed;
    position: absolute;
    top: 0;
  }

  .top-hero-container {
    padding-top: 100px;
    h1 {
      font-size: 56px;
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 60px;
    }
  }
  .form-control {
    height: 45px;
  }
  .users-new-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url('rogin-back.png');
    background-size: 100% 100%;
    background-blend-mode:lighten;
    position: absolute;
    top: 0;
    .users-new-container {
        padding-top: 120px;

        .form-group {
          margin-bottom: 30px;
        }
    }
  }
  .alert {
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 100000;
  }

  .btn-black {
    color: #565656;
    border: 1px solid #565656;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    background-color: rgba(0,0,0,0.0);
  
    &:hover {
      color: #565656;
    }
  }
  
  .topic-new-wrapper {
    padding-top: 20px;
  }
  .topic-index-wrapper {
    padding-top: 70px;
    background-color: #fafafa;
    .topic-index-single {
      background-color: #fff;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 30px;
      border: 1px solid #e6ecf0;
      border-radius: 3px;
      .topic-author {
        padding-right: 20px;
        padding-left: 20px;
      }
  
      .topic-text {
        padding-right: 20px;
        padding-left: 20px;
      }
  
      img {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
      }
      //いいねがない場合のハートアイコンの色
      .topic-index-icon {
        width: 35px;
        height: 30px;
        margin-left: 20px;
      }
      //いいねがされた場合のハートアイコンの色
      .color {
        filter: invert(72%) sepia(26%) saturate(6428%) hue-rotate(1deg) brightness(105%) contrast(102%);
      }
    }
  }